*{
    background-color: cyan;
}

.subtitle{
    font-family: 'Courier New';
    font-weight: bold;
    float: right;
    margin-right: 325px;
    margin-top: 200px;
    font-size: 300%;
}

.title{
    font-family: 'Courier New';
    font-weight: bold;
}

a{
    color: darkred;
    font-weight: bold;
    font-size: 200%;
    font-family: Arial;
    text-decoration: none;
}

a:hover{
    color: white;
}

ul li{
    display: inline;
    margin: 20px;
    font-family: Arial;
}

ol li{
    font-family: 'Courier New';
}